.usuarios-container {
  background: linear-gradient(145deg, #181818, #222);
  padding: 2rem;
  border-radius: 18px;
}


.usuarios-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.usuarios-table th {
  background: #c40303;
  padding: 0.75rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.usuarios-table td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid #7a4141;
  color: white;
}

.usuarios-table tr:hover {
  background: rgba(220, 38, 38, 0.1);
}

.btn {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-edit {
    background: linear-gradient(95deg, #203ee7, #081a0e);
  color: white;
}

.btn-delete {
  background: #c40303;
  background: linear-gradient(95deg,#c40303,#081a0e);
  color: white;
}

.btn-add {
  margin-top: 1.5rem;
  background: linear-gradient(95deg, #076429, #081a0e);
  color: white;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 10px;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal {
  background: #111;
  padding: 1.25rem;
  border-radius: 12px;
  width: 360px;
  color: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.user-form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.user-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  border-radius: 6px;
  border: 1px solid #333;
  background: #0f0f0f;
  color: #fff;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.user-form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  border-radius: 6px;
  border: 1px solid #333;
  background: #0f0f0f;
  color: #fff;
  font-size: 0.95rem;
  appearance: none;          /* elimina estilo nativo */
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

